
<div class="col-4 p-0 pe-3 mb-3">
    <h4><%= photo.title %></h4>
    <div class="image-container">
        <a href=<%=Flickr.url(photo) %> target="_blank">
            <%= image_tag Flickr.url(photo), loading: 'lazy' %>
        </a>
    </div>
</div>
